@model Factoid
@using Felinesoft.UmbracoCodeFirst.Extensions
@using Felinesoft.UmbracoCodeFirst.QuizDemo.DocTypes

<aside class="factoid">
	<h1 class="factoid__title">@(this.Dictionary<QuizmasterDictionary>().FactoidTitle)</h1>
	<strong class="factoid__major">@Model.Details.FactoidTitle</strong>
	<p class="factoid__minor">@Model.Details.FactoidText</p>
</aside>
