@model Factoid
@using Felinesoft.UmbracoCodeFirst.Extensions
@using Felinesoft.UmbracoCodeFirst.QuizDemo.DocTypes

<div style="border:solid black 1px; margin:10px; padding:5px;">
	<h3>@(this.Dictionary<QuizmasterDictionary>().FactoidTitle)</h3>
	<h4>@Model.Details.FactoidTitle</h4>
	<div style="background-color:lightblue; margin:5px">@Model.Details.FactoidText</div>
</div>
