@inherits CodeFirstDocumentView<QuestionSet, QuestionSetViewModel>
@using Felinesoft.UmbracoCodeFirst.Views
@using Felinesoft.UmbracoCodeFirst.QuizDemo.DocTypes

@{ var fact = ViewModel.CurrentQuestion(Document).Extras.Factoids.RandomOrder().FirstOrDefault(); }

@using (ViewModelHelper.BeginUmbracoForm<QuestionSetSurfaceController>("GetNextQuestion", FormMethod.Post, new { id = "MainForm" }))
{
	<div>
		<img src="@(ViewModel.CurrentQuestion(Document).ImageUrl ?? Url.Content("~/Content/defaultImage.jpg"))" />
	</div>

	@Html.Partial("_questionSetViewModelElements", UnderlyingViewModel)
	<div style="margin:10px">
		@(Dictionary<QuizmasterDictionary>().CorrectAnswer)
	</div>

	if (fact != null)
	{
		@Html.Partial("_factoid", fact)
	}

	<input style="margin:10px" type="submit" value="Get next question" />
}