@model Felinesoft.UmbracoCodeFirst.QuizDemo.DocTypes.Question

@{ 
	int i = 1;
}
<div>
	<div>@Model.QuestionDetails.QuestionText</div>
	@foreach(var answer in Model.QuestionDetails.Answers)
	{
		<div>
			<i>Answer @(i++)</i>:
		</div>
		<div>
			@answer
		</div>
	}
</div>