@inherits CodeFirstDocumentView<QuestionSet, QuestionSetViewModel>
@using Felinesoft.UmbracoCodeFirst.Views
@using Felinesoft.UmbracoCodeFirst.QuizDemo.DocTypes

@{ var fact = ViewModel.CurrentQuestion(Document).Extras.Factoids.RandomOrder().FirstOrDefault(); }

@using (ViewModelHelper.BeginUmbracoForm<QuestionSetSurfaceController>("GetNextQuestion", FormMethod.Post, new { id = "MainForm", @class = "form" }))
{
    <div class="question">
        <div class="question__image">
            <img src="@(ViewModel.CurrentQuestion(Document).ImageUrl ?? Url.Content("~/Content/defaultImage.png"))" />
        </div>
        @Html.Partial("_questionSetViewModelElements", UnderlyingViewModel)
        <div class="question__question">
            @(Dictionary<QuizmasterDictionary>().CorrectAnswer)
        </div>
    </div>

    if (fact != null)
    {
		@Html.Partial("_factoid", fact)
    }

    <div class="form__actions">
        <button type="submit" class="form__submit">Get next question &#x203A;</button>
    </div>
}