@inherits CodeFirstDocumentView<QuestionSet, QuestionSetViewModel>
@using Felinesoft.UmbracoCodeFirst.Views
@using Felinesoft.UmbracoCodeFirst.QuizDemo.DocTypes

<div class="question">
    <div class="question__image">
        <img src="@(ViewModel.CurrentQuestion(Document).ImageUrl ?? Url.Content("~/Content/defaultImage.png"))" />
    </div>
    <div class="question__question">
        @ViewModel.Reply.Message
    </div>
    <div class="form__actions">
        <a class="form__back" target="_self" href="@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))">&#x2039; Home</a>
        <a class="form__submit" target="_self" href="@Document.NodeDetails.Url">&#x21bb; Reload Question Set</a>
    </div>
</div>