@inherits CodeFirstDocumentView<QuestionSet, QuestionSetViewModel>
@using Felinesoft.UmbracoCodeFirst.Views
@using Felinesoft.UmbracoCodeFirst.Debug.DocTypes

@using (ViewModelHelper.BeginUmbracoForm<QuestionSetSurfaceController>("GetNextQuestion", FormMethod.Post, new { id = "MainForm" }))
{
	<div>
		<img src="@ViewModel.CurrentQuestion(Document).ImageUrl" />
	</div>

	@Html.Partial("_questionSetViewModelElements", UnderlyingViewModel)
	<div>
		@(Dictionary<QuizmasterDictionary>().CorrectAnswer)
	</div>
	@Url
	<input type="submit" value="Get next question" />
}