<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT child1 ANY>
<!ATTLIST child1 id ID #REQUIRED>
<!ELEMENT child2 ANY>
<!ATTLIST child2 id ID #REQUIRED>
<!ELEMENT child2Composition ANY>
<!ATTLIST child2Composition id ID #REQUIRED>
<!ELEMENT grandChild1 ANY>
<!ATTLIST grandChild1 id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>

]>
<root id="-1">
  <master id="1076" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-09-13T15:21:03" updateDate="2015-09-13T15:21:03" nodeName="Master Test" urlName="master-test" path="-1,1076" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="1067" nodeTypeAlias="master">
    <masterTextstringRoot><![CDATA[OTHERONES!!]]></masterTextstringRoot>
    <masterTrueFalseRoot>1</masterTrueFalseRoot>
    <masterRichtextEditorTab_Master_Tab><![CDATA[<p>this is <strong>STRONG</strong></p>]]></masterRichtextEditorTab_Master_Tab>
    <masterDatePickerTab_Master_Tab>2015-09-21T16:54:23</masterDatePickerTab_Master_Tab>
    <masterTextstringTab_Master_Tab><![CDATA[TEXTSTRINGS]]></masterTextstringTab_Master_Tab>
    <child2 id="1078" parentID="1076" level="2" creatorID="0" sortOrder="0" createDate="2015-09-13T15:46:17" updateDate="2015-09-13T15:46:17" nodeName="jhgjhgjh" urlName="jhgjhgjh" path="-1,1076,1078" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1075" nodeTypeAlias="child2">
      <masterTrueFalseRoot>0</masterTrueFalseRoot>
      <compositionMultitext_Composition_Tab><![CDATA[hjhjhgj]]></compositionMultitext_Composition_Tab>
      <child2TrueFalseRoot>0</child2TrueFalseRoot>
      <commonTabBaseTrueFalse_Child_2_Tab>0</commonTabBaseTrueFalse_Child_2_Tab>
    </child2>
  </master>
  <master id="1077" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-09-13T15:22:39" updateDate="2015-09-13T15:22:39" nodeName="Master Test (1)" urlName="master-test-1" path="-1,1077" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="1067" nodeTypeAlias="master">
    <masterTextstringRoot><![CDATA[OTHERONES!!]]></masterTextstringRoot>
    <masterTrueFalseRoot>1</masterTrueFalseRoot>
    <masterRichtextEditorTab_Master_Tab><![CDATA[<p>this is <strong>STRONG</strong></p>]]></masterRichtextEditorTab_Master_Tab>
    <masterDatePickerTab_Master_Tab>2015-09-21T16:54:23</masterDatePickerTab_Master_Tab>
    <masterTextstringTab_Master_Tab><![CDATA[TEXTSTRINGS]]></masterTextstringTab_Master_Tab>
  </master>
</root>