<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT child2 ANY>
<!ATTLIST child2 id ID #REQUIRED>
<!ELEMENT child1 ANY>
<!ATTLIST child1 id ID #REQUIRED>
<!ELEMENT grandChild1 ANY>
<!ATTLIST grandChild1 id ID #REQUIRED>
<!ELEMENT child2Composition ANY>
<!ATTLIST child2Composition id ID #REQUIRED>
]>
<root id="-1">
  <master id="1076" key="09c7b530-b224-4036-98d2-ccd24fcc5f2f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-05-17T01:10:28" updateDate="2018-05-17T01:10:28" nodeName="jjjjjj" urlName="jjjjjj" path="-1,1076" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="1067" nodeTypeAlias="master">
    <masterTrueFalseRoot>0</masterTrueFalseRoot>
    <masterTextstringTab_Master_Tab><![CDATA[jj]]></masterTextstringTab_Master_Tab>
  </master>
</root>