@model Umbtextpage
@using Felinesoft.UmbracoCodeFirst.Views
@using Demo.GeneratedUmbracoTypes

<!-- Generic -->
<article class="container box style3">
    <header>
        <h2>@Model.Content.Title</h2>
        <p>@Model.Content.SubTitle</p>
    </header>
   <div>
        @Model.Content.Abstract.Html
   </div>
    <div>
        @Model.Content.Grid.GridHtml
    </div>
</article>