<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT factoid ANY>
<!ATTLIST factoid id ID #REQUIRED>
<!ELEMENT factoids ANY>
<!ATTLIST factoids id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT question ANY>
<!ATTLIST question id ID #REQUIRED>
<!ELEMENT questionSet ANY>
<!ATTLIST questionSet id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1067" key="daea3548-6541-41dd-be46-54ef54657934" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-04-23T02:35:21" updateDate="2016-04-23T02:35:21" nodeName="Code-First Quiz" urlName="code-first-quiz" path="-1,1067" isDoc="" nodeType="1059" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="homePage">
    <welcomeParagraph_Content><![CDATA[Welcome to the Felinesoft Code-First quiz. This quiz tests your knowledge of Felinesoft Code-First for Umbraco.]]></welcomeParagraph_Content>
    <questionSet id="1078" key="5d9817c1-7773-4b98-9202-b88a627b5a10" parentID="1067" level="2" creatorID="0" sortOrder="0" createDate="2016-04-23T02:35:29" updateDate="2016-04-23T02:35:29" nodeName="Document Type Quiz" urlName="document-type-quiz" path="-1,1067,1078" isDoc="" nodeType="1053" creatorName="admin" writerName="admin" writerID="0" template="1066" nodeTypeAlias="questionSet">
      <welcomeParagraph_Content><![CDATA[This question set tests your knowledge of declaring and using code-first document types.]]></welcomeParagraph_Content>
      <question id="1079" key="3b1ea046-348e-4a27-a64a-b392ce1184f2" parentID="1078" level="3" creatorID="0" sortOrder="0" createDate="2016-04-23T02:35:29" updateDate="2016-04-23T02:35:29" nodeName="Document type attribute" urlName="document-type-attribute" path="-1,1067,1078,1079" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="question">
        <questionText_Question_Details><![CDATA[What is the correct attribute to use to signal that a class represents a document type?]]></questionText_Question_Details>
        <answers_Question_Details><![CDATA[[DocumentType]
[ContentType]
[DocumentClass]
[CodeFirstDocument]]]></answers_Question_Details>
        <correctAnswer_Question_Details>1</correctAnswer_Question_Details>
        <factoids_Extras><![CDATA[1071,1070]]></factoids_Extras>
      </question>
      <question id="1080" key="6c4fc002-1abc-40c2-8467-139c1671a376" parentID="1078" level="3" creatorID="0" sortOrder="1" createDate="2016-04-23T02:35:29" updateDate="2016-04-23T02:35:29" nodeName="Document type base" urlName="document-type-base" path="-1,1067,1078,1080" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="question">
        <questionText_Question_Details><![CDATA[What is the correct base class to inherit from when declaring a document type class?]]></questionText_Question_Details>
        <answers_Question_Details><![CDATA[CodeFirstDocumentType
ContentTypeBase
BaseDocumentType
DocumentTypeBase]]></answers_Question_Details>
        <correctAnswer_Question_Details>4</correctAnswer_Question_Details>
        <factoids_Extras><![CDATA[1076,1073]]></factoids_Extras>
      </question>
      <question id="1081" key="79281082-7aa9-4221-8196-36203b58b7c1" parentID="1078" level="3" creatorID="0" sortOrder="2" createDate="2016-04-23T02:35:29" updateDate="2016-04-23T02:35:29" nodeName="Property type" urlName="property-type" path="-1,1067,1078,1081" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="question">
        <questionText_Question_Details><![CDATA[What is the correct attribute to use to signal that a property of a class represents an Umbraco property type?]]></questionText_Question_Details>
        <answers_Question_Details><![CDATA[[Property]
[ContentProperty]
[DocumentProperty]
[CodeFirstProperty]]]></answers_Question_Details>
        <correctAnswer_Question_Details>2</correctAnswer_Question_Details>
        <factoids_Extras><![CDATA[1074,1074]]></factoids_Extras>
      </question>
    </questionSet>
    <questionSet id="1082" key="3ddc859f-a37e-4a9f-8536-f8a37cb2809a" parentID="1067" level="2" creatorID="0" sortOrder="1" createDate="2016-04-23T02:35:29" updateDate="2016-04-23T02:35:29" nodeName="Data Type Quiz" urlName="data-type-quiz" path="-1,1067,1082" isDoc="" nodeType="1053" creatorName="admin" writerName="admin" writerID="0" template="1066" nodeTypeAlias="questionSet">
      <welcomeParagraph_Content><![CDATA[This question set tests your knowledge of declaring and using code-first data types.]]></welcomeParagraph_Content>
      <question id="1083" key="1179c7c1-d985-48f0-a497-41b7729ec178" parentID="1082" level="3" creatorID="0" sortOrder="0" createDate="2016-04-23T02:35:29" updateDate="2016-04-23T02:35:29" nodeName="Data type attribute" urlName="data-type-attribute" path="-1,1067,1082,1083" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="question">
        <questionText_Question_Details><![CDATA[What is the correct attribute to use to signal that a class represents a data type?]]></questionText_Question_Details>
        <answers_Question_Details><![CDATA[[Type]
[CodeFirstData]
[UmbracoDataType]
[DataType]]]></answers_Question_Details>
        <correctAnswer_Question_Details>4</correctAnswer_Question_Details>
        <factoids_Extras><![CDATA[1073,1073]]></factoids_Extras>
      </question>
      <question id="1084" key="b288a4c2-0347-41f6-9845-a0915e859e5a" parentID="1082" level="3" creatorID="0" sortOrder="1" createDate="2016-04-23T02:35:30" updateDate="2016-04-23T02:35:30" nodeName="Data type interfaces" urlName="data-type-interfaces" path="-1,1067,1082,1084" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="question">
        <questionText_Question_Details><![CDATA[Which of the following is the correct interface to implement to create a data type which is stored as a string and can accomodate a large amount of data?]]></questionText_Question_Details>
        <answers_Question_Details><![CDATA[IUmbracoNtextDataType
IUmbracoStringDataType
IUmbracoDataTypeNtext
IUmbracoDataTypeString]]></answers_Question_Details>
        <correctAnswer_Question_Details>1</correctAnswer_Question_Details>
        <factoids_Extras><![CDATA[1072,1077]]></factoids_Extras>
      </question>
      <question id="1085" key="987d4106-9cda-4025-8386-878fc652bbc2" parentID="1082" level="3" creatorID="0" sortOrder="2" createDate="2016-04-23T02:35:30" updateDate="2016-04-23T02:35:30" nodeName="Data type implementation" urlName="data-type-implementation" path="-1,1067,1082,1085" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="question">
        <questionText_Question_Details><![CDATA[When is it OK to leave the interface methods unimplemented on a data type?]]></questionText_Question_Details>
        <answers_Question_Details><![CDATA[When strongly-typed views are not being used, or that data type is not being used within them
When the data value is always null/default
For any data value which is stored as a string in the database
Never]]></answers_Question_Details>
        <correctAnswer_Question_Details>1</correctAnswer_Question_Details>
        <factoids_Extras><![CDATA[1075,1076]]></factoids_Extras>
      </question>
    </questionSet>
    <questionSet id="1086" key="be26ce9b-a75c-4bad-ab05-8b18db124aeb" parentID="1067" level="2" creatorID="0" sortOrder="2" createDate="2016-04-23T02:35:30" updateDate="2016-04-23T02:35:30" nodeName="Dictionary Quiz" urlName="dictionary-quiz" path="-1,1067,1086" isDoc="" nodeType="1053" creatorName="admin" writerName="admin" writerID="0" template="1066" nodeTypeAlias="questionSet">
      <welcomeParagraph_Content><![CDATA[This question set tests your knowledge of declaring and using code-first dictionaries.]]></welcomeParagraph_Content>
      <question id="1087" key="e16a1bfd-3c7c-4747-bed6-30094c83bbb9" parentID="1086" level="3" creatorID="0" sortOrder="0" createDate="2016-04-23T02:35:30" updateDate="2016-04-23T02:35:30" nodeName="Dictionary attribute" urlName="dictionary-attribute" path="-1,1067,1086,1087" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="question">
        <questionText_Question_Details><![CDATA[What is the correct attribute to use to signal that a class represents a dictionary?]]></questionText_Question_Details>
        <answers_Question_Details><![CDATA[[Dictionary]
[CodeFirstDictionary]
[Dict]
[UmbracoDictionary]]]></answers_Question_Details>
        <correctAnswer_Question_Details>1</correctAnswer_Question_Details>
        <factoids_Extras><![CDATA[1073,1077]]></factoids_Extras>
      </question>
      <question id="1088" key="f6cf2eb1-c180-4364-a95e-0c1d52982b33" parentID="1086" level="3" creatorID="0" sortOrder="1" createDate="2016-04-23T02:35:30" updateDate="2016-04-23T02:35:30" nodeName="Dictionary items" urlName="dictionary-items" path="-1,1067,1086,1088" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="question">
        <questionText_Question_Details><![CDATA[What is the correct attribute to use to signal that a property represents a dictionary item?]]></questionText_Question_Details>
        <answers_Question_Details><![CDATA[[DictItem]
[DictionaryItem]
[Item]
[DictionaryEntry]]]></answers_Question_Details>
        <correctAnswer_Question_Details>3</correctAnswer_Question_Details>
        <factoids_Extras><![CDATA[1074,1073]]></factoids_Extras>
      </question>
      <question id="1089" key="b84734b0-85be-486e-a57c-afe8fa2fd13f" parentID="1086" level="3" creatorID="0" sortOrder="2" createDate="2016-04-23T02:35:30" updateDate="2016-04-23T02:35:30" nodeName="Dictionary base class" urlName="dictionary-base-class" path="-1,1067,1086,1089" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="question">
        <questionText_Question_Details><![CDATA[What is the correct base class to inherit from when declaring a dictionary class?]]></questionText_Question_Details>
        <answers_Question_Details><![CDATA[CodeFirstDictionaryBase
DictBase
UmbracoDictionary
DictionaryBase]]></answers_Question_Details>
        <correctAnswer_Question_Details>4</correctAnswer_Question_Details>
        <factoids_Extras><![CDATA[1074,1076]]></factoids_Extras>
      </question>
    </questionSet>
  </homePage>
  <factoids id="1069" key="ed019085-fc5e-4249-b9ee-9c8d4fbeb4de" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-04-23T02:35:28" updateDate="2016-04-23T02:35:28" nodeName="Factoids" urlName="factoids" path="-1,1069" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="factoids">
    <factoid id="1070" key="7b6c2913-f354-4cfa-9ef0-a00313df1043" parentID="1069" level="2" creatorID="0" sortOrder="0" createDate="2016-04-23T02:35:28" updateDate="2016-04-23T02:35:28" nodeName="Man the..." urlName="man-the" path="-1,1069,1070" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="factoid">
      <factoidTitle_Details><![CDATA[Man these facts are old]]></factoidTitle_Details>
      <image_Details><![CDATA[1068]]></image_Details>
      <factoidText_Details><![CDATA[By the year 2012 there will be approximately 17 billion devices connected to the Internet.]]></factoidText_Details>
    </factoid>
    <factoid id="1071" key="15e3bae5-3f0d-48d8-a441-cae9ce6e0459" parentID="1069" level="2" creatorID="0" sortOrder="1" createDate="2016-04-23T02:35:28" updateDate="2016-04-23T02:35:28" nodeName="(Of whi..." urlName="of-whi" path="-1,1069,1071" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="factoid">
      <factoidTitle_Details><![CDATA[(Of which 870,000 are clickbait listicle slideshow sites)]]></factoidTitle_Details>
      <image_Details><![CDATA[1068]]></image_Details>
      <factoidText_Details><![CDATA[Domain names are being registered at a rate of more than one million names every month.]]></factoidText_Details>
    </factoid>
    <factoid id="1072" key="a60e074a-68d4-4748-9903-d6b718b32b64" parentID="1069" level="2" creatorID="0" sortOrder="2" createDate="2016-04-23T02:35:28" updateDate="2016-04-23T02:35:28" nodeName="I think..." urlName="i-think" path="-1,1069,1072" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="factoid">
      <factoidTitle_Details><![CDATA[I think this fact is a bit tame, compared to facebook being more populous than China.]]></factoidTitle_Details>
      <image_Details><![CDATA[1068]]></image_Details>
      <factoidText_Details><![CDATA[MySpace reports over 110 million registered users. Were it a country, it would be the tenth largest, just behind Mexico.]]></factoidText_Details>
    </factoid>
    <factoid id="1073" key="b0d8f961-fc3d-4f0f-9e47-39064aa5afc6" parentID="1069" level="2" creatorID="0" sortOrder="3" createDate="2016-04-23T02:35:28" updateDate="2016-04-23T02:35:28" nodeName="Love &amp;..." urlName="love" path="-1,1069,1073" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="factoid">
      <factoidTitle_Details><![CDATA[Love & Marriage]]></factoidTitle_Details>
      <image_Details><![CDATA[1068]]></image_Details>
      <factoidText_Details><![CDATA[One of every 8 married couples in the US last year met online.]]></factoidText_Details>
    </factoid>
    <factoid id="1074" key="fa09e8ec-c35f-4ed3-95ab-8b2632b8c244" parentID="1069" level="2" creatorID="0" sortOrder="4" createDate="2016-04-23T02:35:28" updateDate="2016-04-23T02:35:28" nodeName="Blinkin..." urlName="blinkin" path="-1,1069,1074" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="factoid">
      <factoidTitle_Details><![CDATA[Blinkin' 'eck]]></factoidTitle_Details>
      <image_Details><![CDATA[1068]]></image_Details>
      <factoidText_Details><![CDATA[The average computer user blinks 7 times a minute, less than half the normal rate of 20.]]></factoidText_Details>
    </factoid>
    <factoid id="1075" key="d50a4655-8685-4893-96d1-287560bb85eb" parentID="1069" level="2" creatorID="0" sortOrder="5" createDate="2016-04-23T02:35:28" updateDate="2016-04-23T02:35:28" nodeName="The Mot..." urlName="the-mot" path="-1,1069,1075" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="factoid">
      <factoidTitle_Details><![CDATA[The Mother of All Demos]]></factoidTitle_Details>
      <image_Details><![CDATA[1068]]></image_Details>
      <factoidText_Details><![CDATA[The first computer mouse was invented by Doug Engelbart in around 1964 and was made of wood. His initial demonstration of the mouse also included the first ever demonstrations of word processing, computer networking and video-conferencing. In the late '60s.]]></factoidText_Details>
    </factoid>
    <factoid id="1076" key="f93a8567-8fdb-467a-83b4-1bed45032c3f" parentID="1069" level="2" creatorID="0" sortOrder="6" createDate="2016-04-23T02:35:29" updateDate="2016-04-23T02:35:29" nodeName="The Int..." urlName="the-int" path="-1,1069,1076" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="factoid">
      <factoidTitle_Details><![CDATA[The Internets Go Quick]]></factoidTitle_Details>
      <image_Details><![CDATA[1068]]></image_Details>
      <factoidText_Details><![CDATA[While it took the radio 38 years, and the television a short 13 years, it took the World Wide Web only 4 years to reach 50 million users.]]></factoidText_Details>
    </factoid>
    <factoid id="1077" key="79ad1520-1f5f-4190-953a-17e55d1a44e6" parentID="1069" level="2" creatorID="0" sortOrder="7" createDate="2016-04-23T02:35:29" updateDate="2016-04-23T02:35:29" nodeName="Grace H..." urlName="grace-h" path="-1,1069,1077" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="factoid">
      <factoidTitle_Details><![CDATA[Grace Hopper is Definitely the Coolest Person Ever]]></factoidTitle_Details>
      <image_Details><![CDATA[1068]]></image_Details>
      <factoidText_Details><![CDATA[Grace Hopper, the inventor of the first ever software compiler and co-creator of COBOL, was also the oldest serviceperson on active duty in the US Navy, retiring at the age of 79 and rank of Rear Admiral.]]></factoidText_Details>
    </factoid>
  </factoids>
</root>